

/* SCSS RGB */
$melon: rgba(254, 197, 187, 1);
$pale-pink: rgba(252, 213, 206, 1);
$misty-rose: rgba(250, 225, 221, 1);
$isabelline: rgba(248, 237, 235, 1);
$platinum: rgba(232, 232, 228, 1);
$alabaster: rgba(216, 226, 220, 1);
$linen: rgba(236, 228, 219, 1);
$champagne-pink: rgba(255, 229, 217, 1);
$peach-puff: rgba(255, 215, 186, 1);
$peach-crayola: rgba(254, 200, 154, 1);
